@import "./theme/curriculo-horario";
@import "./theme/footer";
@import "./theme/header";
@import "./theme/main";
@import "./theme/ferramentas";
@import "./theme/estagio";
@import "./theme/objetivos";
@import "./theme/coordenacao";
@import "./theme/dados-curso";
@import "./theme/news";
@import "./theme/perfil";
@import "./theme/o-curso";
@import "./theme/capa";
@import "./theme/body";
@import "./theme/navbar";
@import "./fonts";
@import "./variables";

//=========== fade in animation ==============
.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%);
}

.from-right {
  grid-column: 2 / 3;
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: transform 600ms ease-in;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
}

body {
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
