.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: url('../img/bg-capa.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-top: 100px;

    h1 {
        color: white;
    }
}

.masthead>div>b{
    color: white;
}

.titulo-animacao {
    font-size: 0.3em;
}

.subtitulo-animacao {
    font-size: 0.5em;
    text-transform: capitalize;
    margin-top: -0.5em;
}

#capa-sobre{
    color: white;
    width: 25em; 
    margin-top: -30px;
}