.logo-inf {
    background: url("../img/logo-inf-com-escrita.png");
    background-repeat: no-repeat;
    height: 4em;
    display: block;
    color: transparent;
    background-size: contain;
}

.logo-inf:hover {
    color: transparent;
}
