@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
@import url("_variables.scss");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
@import url("_variables.scss");
.bg-curriculo {
  background: url(../img/bgCurriculo.jfif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 3em;
  padding-top: 1em;
  margin-top: -50px;
}

.shadow {
  box-shadow: 0px 0px 10px #2a2d34;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 2em;
  /*border: solid 2px #a0dde6;*/
}

.curriculo-container {
  margin-top: 4em;
  padding-top: 1.7em;
  padding-bottom: 5em;
}

.curriculo-horario {
  padding-bottom: 1em;
  margin-bottom: 4em;
}

.img-curriculo > img {
  width: 50em;
}

.tabela-horarios {
  overflow: auto;
}

/* Tipografia */
.cabecalho-curriculo-horario {
  color: black;
}

.cabecalho-curriculo-horario > h1 > i {
  margin-right: 0.3em;
}

.cabecalho-curriculo-horario hr {
  border-top-width: 0.2em;
}

.footer-content .imagem a {
  text-decoration: none;
  color: white;
  margin-left: -55px;
  margin-right: -55px;
}
.footer-content .imagem a:hover {
  color: #30c5ff;
}

.main_header .header_bar h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
}
.main_header .header_bar nav ul li {
  padding: 0 10px;
}
.main_header .header_bar nav ul li a {
  font-size: 1.4em;
  font-weight: 400;
}
.main_header .header_bar nav ul li a:hover {
  font-weight: 700;
}

.logo img {
  width: 250px;
  height: 100%;
}

#SobreCurso {
  background: url(../img/bgCurriculo.jfif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 1em;
  padding-top: 1em;
}

.sobre_curso {
  box-shadow: 0px 0px 10px #2a2d34;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.8);
}
.sobre_curso .ES_header {
  font-size: 30px;
  border-bottom: solid 1px #2a2d34;
}

.conteudo_curso_extra h3 {
  font-size: 15px;
}
.conteudo_curso_extra span {
  font-weight: bold;
}
.conteudo_curso_extra ul > li {
  list-style: none;
}
.conteudo_curso_extra li a {
  text-decoration: none;
}
.conteudo_curso_extra li a:hover {
  cursor: pointer;
}

#btnScrollTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #30c5ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#btnScrollTop:active {
  background-color: #1b3f5c;
}

.youtube {
  background: url(../img/bgCurriculo.jfif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 3em;
  padding-top: 3em;
}

.divisoria_trab {
  border-bottom: solid 1px black;
}

.main_map_content .container {
  border-radius: 10px;
}
.main_map_content .container header {
  color: #ffffff;
}

.divisoria_mapa {
  height: 2px;
  background-color: #214c70;
  width: 100%;
}

#btnScrollTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #214c70;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#btnScrollTop:active {
  background-color: #1b3f5c;
}

.news {
  box-shadow: 0px 0px 10px #2a2d34;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.8);
}

.video {
  width: 560px;
  height: 215px;
  padding-bottom: 20px;
}

.o_curso {
  margin-top: 0em;
  margin-bottom: 0em;
  background: url(../img/bgCurso.png) no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 3em;
}

.card-pers {
  background-color: rgba(48, 197, 255, 0.7);
  margin-bottom: 10px;
  border-bottom: 5px groove rgba(0, 91, 128, 0.8);
  padding: 1em;
  transition: 0.4s;
}

.card-pers:hover {
  background-color: rgba(48, 197, 255, 0.9);
  border-bottom-style: solid;
  border-bottom-color: #005b80;
}

.img-card {
  width: 8em;
}

/* Tipografia */
.cabecalho-o-curso {
  color: white;
}

.cabecalho-o-curso > h1 > i {
  margin-right: 0.3em;
}

.cabecalho-o-curso hr {
  border-top-color: white;
}

.card-pers > div > div > h1 {
  color: white;
  font-size: 1.2em;
}

.card-pers > div > div > p {
  font-size: 1em;
  color: white;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: url("../img/bg-capa.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-top: 100px;
}
.masthead h1 {
  color: white;
}

.masthead > div > b {
  color: white;
}

.titulo-animacao {
  font-size: 0.5em;
}

.subtitulo-animacao {
  font-size: 0.6em;
  text-transform: capitalize;
  margin-top: -0.5em;
}

#capa-sobre {
  color: white;
  width: 25em;
  margin-top: -30px;
}

/* sm > 768px */
@media (min-width: 767px) {
  h1 {
    font-size: 70px;
  }

  .btn-custom {
    margin: 0px 15px;
  }
}
body {
  overflow-x: hidden;
}

.logo-inf {
  background: url("../img/logo-inf-com-escrita.png");
  background-repeat: no-repeat;
  height: 4em;
  display: block;
  color: transparent;
  background-size: contain;
}

.logo-inf:hover {
  color: transparent;
}

/*# sourceMappingURL=Home.css.map */
