@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
@import url("_variables.scss");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap");
@import url("_variables.scss");
.bg-curriculo {
  padding-bottom: 3em;
  padding-top: 1em;
  margin-top: -50px;
}

.curriculo-container {
  margin-top: 4em;
  padding-top: 1.7em;
  padding-bottom: 5em;
}

.curriculo-horario {
  padding-bottom: 1em;
  margin-bottom: 4em;
}

.img-curriculo > img {
  width: 50em;
}

.tabela-horarios {
  overflow: auto;
}

/* Tipografia */
.cabecalho-curriculo-horario {
  color: black;
}

.cabecalho-curriculo-horario > h1 > i {
  margin-right: 0.3em;
}

.cabecalho-curriculo-horario hr {
  border-top-width: 0.2em;
}

.footer-content .imagem a {
  text-decoration: none;
  color: white;
  margin-left: -55px;
  margin-right: -55px;
}
.footer-content .imagem a:hover {
  color: #30c5ff;
}

.main_header .header_bar h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 4em;
}
.main_header .header_bar nav ul li {
  padding: 0 10px;
}
.main_header .header_bar nav ul li a {
  font-size: 1.4em;
  font-weight: 400;
}
.main_header .header_bar nav ul li a:hover {
  font-weight: 700;
}

.logo img {
  width: 250px;
  height: 100%;
}

#SobreCurso {
  padding-bottom: 1em;
  padding-top: 1em;
}

.sobre_curso {
  background-color: rgba(255, 255, 255, 0.8);
}
.sobre_curso .ES_header {
  font-size: 30px;
  border-bottom: solid 1px #2a2d34;
}

.conteudo_curso_extra h3 {
  font-size: 15px;
}
.conteudo_curso_extra span {
  font-weight: bold;
}
.conteudo_curso_extra ul > li {
  list-style: none;
}
.conteudo_curso_extra li a {
  text-decoration: none;
}
.conteudo_curso_extra li a:hover {
  cursor: pointer;
}

#btnScrollTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #30c5ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#btnScrollTop:active {
  background-color: #1b3f5c;
}

.conquistas .img_header_conq {
  background-color: #2cb5eb;
  border-radius: 7px 7px 0px 0px;
  box-shadow: 0px 10px 10px #2cb5eb;
}
.conquistas .img_conquistas_header {
  background-color: #34bdf3;
  border-radius: 7px;
}
.conquistas .img_conquistas_header img {
  width: 160px;
  height: 100px;
}

.conquistas .conquista_header header h1 {
  font-size: 3.5em;
  font-weight: 400;
}
.conquistas .conquista_header header p {
  font-size: 1.3em;
}

.avaliacoes header {
  text-align: center;
}
.avaliacoes header h3 {
  color: white;
  font-size: 1.7em;
  font-weight: 400;
}
.avaliacoes .img_mec {
  margin-top: 20px;
  align-items: center;
}
.avaliacoes .img_mec img {
  width: 70%;
  height: 70%;
}

.ranking header {
  text-align: center;
}
.ranking header h3 {
  color: white;
  font-size: 1.7em;
  font-weight: 400;
}
.ranking ol li {
  color: white;
  font-size: 1.2em;
}
.ranking ol li a {
  color: white;
  text-decoration: none;
}
.ranking ol li a:hover {
  font-size: 1.3em;
}
.ranking p {
  padding-top: 50px;
  text-align: center;
}
.ranking p a {
  text-decoration: none;
  color: #ffc400;
  font-size: 1.5em;
  font-weight: 700;
}
.ranking p a:hover {
  color: #daa703;
}

@media (max-width: 400px) {
  .conquistas .img_conquistas_header img {
    width: 70px;
    height: 50px;
  }
}
@media (max-width: 400px) {
  .avaliacoes .img_mec img {
    width: 80%;
    height: 80%;
  }
}
/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.ferramentas .content + .content {
  margin-top: 100px;
}

.ferramentas .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #47536e;
}

.ferramentas .content ul {
  list-style: none;
  padding: 0;
}

.ferramentas .content ul li {
  padding-bottom: 10px;
}

.ferramentas .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5777ba;
}

.ferramentas .content p:last-child {
  margin-bottom: 0;
}

.ferramentas {
  padding-top: 0px;
  padding-bottom: 90px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.estagio .content + .content {
  margin-top: 100px;
}

.estagio .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #47536e;
}

.estagio .content ul {
  list-style: none;
  padding: 0;
}

.estagio .content ul li {
  padding-bottom: 10px;
}

.estagio .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5777ba;
}

.estagio .content p:last-child {
  margin-bottom: 0;
}

.estagio {
  padding-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.objetivos .content + .content {
  margin-top: 100px;
}

.objetivos .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #47536e;
}

.objetivos .content ul {
  list-style: none;
  padding: 0;
}

.objetivos .content ul li {
  padding-bottom: 10px;
}

.objetivos .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5777ba;
}

.objetivos .content p:last-child {
  margin-bottom: 0;
}

.objetivos {
  padding-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h5 {
  color: #47536e;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #585a61;
}

a {
  color: #5777ba;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.features {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f2f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5777ba;
  font-family: "Poppins", sans-serif;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# App Features
--------------------------------------------------------------*/
.features .content {
  padding: 30px 0;
}

.features .content .icon-box {
  margin-top: 25px;
}

.features .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.features .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #5777ba;
}

.features .content .icon-box p {
  font-size: 15px;
  color: #979aa1;
  margin-left: 60px;
}

@media (max-width: 991px) {
  .features .image {
    text-align: center;
  }

  .features .image img {
    max-width: 80%;
  }
}
@media (max-width: 667px) {
  .features .image img {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
}
.youtube {
  padding-bottom: 3em;
  padding-top: 3em;
}

.divisoria_trab {
  border-bottom: solid 1px black;
}

.main_map_content .container {
  border-radius: 10px;
}
.main_map_content .container header {
  color: #ffffff;
}

.divisoria_mapa {
  height: 2px;
  background-color: #214c70;
  width: 100%;
}

#btnScrollTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #214c70;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
}

#btnScrollTop:active {
  background-color: #1b3f5c;
}

.news {
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.8);
}
.news .card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}
.news iframe:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.video {
  width: 560px;
  height: 215px;
  padding-bottom: 20px;
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.perfil-profissional .content + .content {
  margin-top: 100px;
}

.perfil-profissional .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #47536e;
}

.perfil-profissional .content ul {
  list-style: none;
  padding: 0;
}

.perfil-profissional .content ul li {
  padding-bottom: 10px;
}

.perfil-profissional .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5777ba;
}

.perfil-profissional .content p:last-child {
  margin-bottom: 0;
}

.perfil-profissional {
  padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.o_curso {
  margin-top: 0em;
  margin-bottom: 0em;
  background: url(../img/bgCurso.png) no-repeat;
  /*background-attachment: fixed;*/
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 3em;
}

.card-pers {
  background-color: rgba(48, 197, 255, 0.7);
  margin-bottom: 10px;
  border-bottom: 5px groove rgba(0, 91, 128, 0.8);
  padding: 1em;
  transition: 0.4s;
}

.card-pers:hover {
  background-color: rgba(48, 197, 255, 0.9);
  border-bottom-style: solid;
  border-bottom-color: #005b80;
}

.img-card {
  width: 8em;
}

/* Tipografia */
.cabecalho-o-curso {
  color: white;
}

.cabecalho-o-curso > h1 > i {
  margin-right: 0.3em;
}

.cabecalho-o-curso hr {
  border-top-color: white;
}

.card-pers > div > div > h1 {
  color: white;
  font-size: 1.2em;
}

.card-pers > div > div > p {
  font-size: 1em;
  color: white;
}

.capa {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  background-color: transparent;
  padding-top: 90px;
  margin-top: 30px;
}
.capa h1 {
  font-size: 2em;
}
.capa h1:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.capa h2 {
  font-size: 1em;
  text-indent: 15px;
}

/*
.titulo-animacao {
    font-size: 0.8em;
}

.subtitulo-animacao {
    font-size: 0.65em;
    text-transform: capitalize;
    margin-top: -0.5em;
}*/
#capa-sobre {
  color: white;
  width: 25em;
  margin-top: -30px;
}

.img-capa {
  height: 400px;
}

body {
  background-color: white;
  overflow-x: hidden;
}

.logo-inf {
  background: url("../img/logo-inf-com-escrita.png");
  background-repeat: no-repeat;
  height: 4em;
  display: block;
  color: transparent;
  background-size: contain;
}

.logo-inf:hover {
  color: transparent;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  grid-column: 2/3;
  transform: translateX(-50%);
}

.from-right {
  grid-column: 2/3;
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: transform 600ms ease-in;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
}

body {
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

/*# sourceMappingURL=Home.css.map */
